{__NOLAYOUT__}
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <span class="label  label-primary">当前日期：${CURRENT_DATE}</span>
        <span class="label  label-primary">当前时间：${CURRENT_TIME}</span>
        <span class="label  label-primary">当前日期时间：${CURRENT_DATE_TIME}</span>
       <span class="label  label-primary"> 当前年份：${CURRENT_YEAR}</span>
        <span class="label  label-primary">当前月份：${CURRENT_MONTH}</span>
        <span class="label  label-primary">当前日：${CURRENT_DAY}</span>
       <span class="label  label-primary"> 当前日期的明天：${TOMORROW}</span>
       <span class="label  label-primary"> 当前日期的后天：${POSTNATAL}</span>
    </div>
    <div class="panel-body">
        <div class="widget-body no-padding  table-cosmetic">
            <div id="toolbar-alternating" class="toolbar">
                {:build_toolbar('refresh,add,del',['add'=>[url('alternating/add',['procedure_model_id'=>$row['id']]), 'btn btn-default btn-dialog', 'fa fa-plus',  __(''), __('添加流程变量')]])}
            </div>
            <table id="table-alternating"  ui-formidable="fields"
                   data-fields='fields'
                   data-url="alternating/index"
                   data-search-fields="fields"
                   data-toolbar="toolbar-alternating"
                   data-query-params="searchFieldsParams"
                   data-buttons="tableExtendButtons"
                   data-search-button-hide-group="true"
                   data-operate-view="{:$auth->check('alternating/view')}"
                   data-operate-del="{:$auth->check('alternating/del')}"
                   class="table table-striped table-bordered table-hover  text-nowrap" width="100%">
            </table>
        </div>
    </div>
</div>