
.aui-order-list {
    display: block;
    overflow: hidden;
    position: relative;
    border-bottom: 10px solid #f5f5f5;
}

.aui-order-list .aui-flex-box h3 {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
    color: #333;
    text-decoration: initial;
}

.aui-order-pay p {
    color: #ff1767;
    font-size: 12px;
}

.aui-order-img {
    width: 90px;
    height: 90px;
    margin-right: 0.5rem;
}

.aui-order-img img {
    width: 90px;
    height: 90px;
    display: block;
    border: none;
}

.aui-flex-order {
    background: #f6f6f6;
    margin: 0 15px;
    padding: 5px 10px 5px 5px;
}

.aui-order-list .aui-flex-order h4 {
    font-size: 12px;
    color: #737373;
}

.aui-order-list .aui-flex-order h4 i {
    font-style: normal;
}

.aui-order-list .aui-flex-order h4 em {
    font-style: normal;
    color: #ff1767;
}

.aui-flex-button {
    position: relative;
    margin-top: 10px;
    text-align: right;
}

.aui-flex-button:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 15px;
    width: 92%;
    height: 1px;
    border-top: 1px solid #d2d2d2;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.aui-flex-button button {
    background-image: -webkit-gradient(linear,left top,right top,from(#ff6143),to(#ff1767));
    background-image: -webkit-linear-gradient(left,#ff6143,#ff1767);
    background-image: -moz-linear-gradient(left,#ff6143,#ff1767);
    background-image: linear-gradient(to right,#ff6143,#ff1767);
    background-color: #ff6143;
    color: #fff;
    font-size: 12px;
    border-radius: 20px;
    display: inline-block;
    border: none;
    padding: 0.28rem 1rem;
    margin-left: 0.5rem;
    border: 1px solid #ff1767;
}

.aui-flex-button .aui-order-cancel {
    background: none;
    color: #ff1767;
    border: 1px solid #ff1767;
}

.aui-flex-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    font-size: 14px;
    color: #333;
}
.aui-flex-box h2 {
    color: #333;
    font-weight: normal;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 0.65rem;
    overflow: hidden;
}


span.index-buyying-tuan {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #5cb85c;
}