{__NOLAYOUT__}
<link rel="stylesheet" href="__CDN__/assets/libs/fullcalendar/dist/fullcalendar.css">

<section class="">
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm" id="channelbar" style="padding-right:0;">
            <stafftree data-changed="staffChange" data-params="{'branch_model_id':{$row['id']}}"></stafftree>
        </div>
        <div class="col-xs-12 col-md-9" id="archivespanel">
            <div class="panel panel-default panel-intro">
                <div class="widget-body no-padding">
                    <div class="box box-solid">
                        <div class="box-body no-padding">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
