<form id="add-form" class="form-horizontal" role="form" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">机构:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control selectpicker" id="select-branch">
                {foreach name="rows" item="vo"}
                <option  value="{$vo.id}" {in name="key" value=""}selected{/in}>{$vo.name}</option>
                {/foreach}
            </select>

        </div>
    </div>
</form>
