<div class="page"  ng-controller="index"  ng-init="sceneryInit()">

    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">客户列表</a></li>
                </ol>

                <div class="table-responsive">
                    <div id="toolbar-index" class="toolbar">
                        <a href="unsafe:javascript:;" class="btn btn-primary btn-refresh" title="刷新"><i class="fa fa-refresh"></i> </a>
                        <a href="/customer/add" class="btn btn-success btn-dialog" title="添加客户"><i class="fa fa-plus"></i> </a>
                        <a href="unsafe:javascript:;" class="btn btn-danger btn-del btn-disabled disabled" title="删除"><i class="fa fa-trash"></i> </a>
                    </div>
                    <table id="table-index"
                           data-fields="fields"
                           ui-formidable="fields"
                           data-url="customer/index"
                           data-toolbar="toolbar-index"
                           data-detail-formatter="detailFormater"
                           class="table table-striped table-bordered table-hover  text-nowrap" width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">var fields ={$fields|json_encode};</script>
<script type="text/javascript">var personal_fields ={$personal_fields|json_encode};</script>
<script type="text/javascript">var company_fields ={$company_fields|json_encode};</script>

<script id="detail-tmpl" type="text/html">
    <div class="card grid-item" >
        <div class="card-header">
            <div class="card-title">
               <%=row.name%>
            </div>
            <div class="card-tools">
                <a href="/principal/edit/ids/<%=row.id%>" class="btn btn-xs btn-default btn-dialog"  title="编辑客户"><i class="fa fa-pencil"></i></a>
                <a href="javascript:;" data-id="<%=row.id%>" class="btn btn-xs btn-default  btn-del"><i class="fa fa-trash"></i></a>

            </div>
        </div>
        <div class="card-body">
            <table class="table  table-striped table-hover" style="table-layout: fixed;word-break:break-all;white-space: normal;">
                <tbody>
                <%for (var i=0;i<fields.length;i++) {%>
                <tr>
                    <td style="text-align: right">
                        <%=fields[i].title%>
                    </td>
                    <td>
                            <%=#fields[i].data%>
                    </td>
                </tr>
                <%}%>
                </tbody>
            </table>

        </div>
    </div>
</script>

<script id="customer-operate-tmpl" type="text/html">
    <a href="/customer/edit/ids/<%=id%>" class="btn btn-xs btn-success btn-dialog"  title="添加智慧点"><i class="fa fa-pencil"></i></a>
    <a href="/principal/add/customer_id/<%=id%>/substance_type/company" class="btn btn-xs btn-default btn-dialog"  title="编辑客户"><i class="fa fa-plus"></i></a>
    <a href="/principal/add/customer_id/<%=id%>/substance_type/persion" class="btn btn-xs btn-default btn-dialog"  title="编辑客户"><i class="fa fa-plus"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-danger btn-delone"><i class="fa fa-trash"></i></a>
</script>

