<div ng-controller="index"  ng-init="sceneryInit()">

    <!-- row -->
    <div class="row">

        <div class="col-xs-12">
            <div class="table-responsive">
                <div id="toolbar-index" class="toolbar">
                    <a href="unsafe:javascript:;" class="btn btn-primary btn-refresh" title="刷新"><i class="fa fa-refresh"></i> </a>
                    <a href="/customer/add" class="btn btn-success btn-dialog" title="添加客户"><i class="fa fa-plus"></i> </a>
                    <a href="unsafe:javascript:;" class="btn btn-danger btn-del btn-disabled disabled" title="删除"><i class="fa fa-trash"></i> </a>
                </div>
                <table id="table-index"
                       data-fields="fields"
                       ui-formidable="fields"
                       data-url="customer/index"
                       data-toolbar="toolbar-index"
                       data-detail-formatter="detailFormater"
                       class="table table-striped table-bordered table-hover  text-nowrap" width="100%">
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">var fields ={$fields|json_encode};</script>
<script type="text/javascript">var personal_fields ={$personal_fields|json_encode};</script>
<script type="text/javascript">var company_fields ={$company_fields|json_encode};</script>

<script id="detail-tmpl" type="text/html">
    <div class="card grid-item" >
        <div class="card-header">
            <div class="card-title" title=" <%=row.name%>">
                <%=row.name%>
            </div>
            <div class="card-tools">
                <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <%if (row.substance_type == "company"){%>
                        <li><a href="/copyright/add?company_model_id=<%=row.substance_id%>" class="dialogit" title="增加著作权">著作权</a></li>
                        <li><a href="/aptitude/add?company_model_id=<%=row.substance_id%>" class="dialogit"  title="增加知识产权贯标">知识产权贯标</a></li>
                        <%}%>
                        <li><a href="#">发明专利</a></li>
                    </ul>
                </div>
                <a href="/promotion/index/principal_model_id/<%=row.id%>" data-id="<%=row.id%>" class="btn btn-xs btn-default btn-dialog"  title="项目列表"><i class="fa fa-list"></i></a>
                <a href="/principal/edit/ids/<%=row.id%>" class="btn btn-xs btn-default btn-dialog"  title="编辑客户"><i class="fa fa-pencil"></i></a>
                <a href="javascript:;" data-id="<%=row.id%>" class="btn btn-xs btn-default  btn-del"><i class="fa fa-trash"></i></a>

            </div>
        </div>
        <div class="card-body">
            <table class="table  table-striped table-hover" style="table-layout: fixed;word-break:break-all;white-space: normal;">
                <tbody>
                <%for (var i=0;i<fields.length;i++) {%>
                <tr>
                    <td style="text-align: right">
                        <%=fields[i].title%>
                    </td>
                    <td>
                        <%=#fields[i].data%>
                    </td>
                </tr>
                <%}%>
                </tbody>
            </table>

        </div>
    </div>
</script>

<script id="customer-operate-tmpl" type="text/html">
    <a href="/customer/edit/ids/<%=id%>" class="btn btn-xs btn-success btn-dialog"  title="添加智慧点"><i class="fa fa-pencil"></i></a>
    <a href="/principal/add/customer_id/<%=id%>/substance_type/company" class="btn btn-xs btn-default btn-dialog"  title="编辑客户"><i class="fa fa-plus"></i></a>
    <a href="/principal/add/customer_id/<%=id%>/substance_type/persion" class="btn btn-xs btn-default btn-dialog"  title="编辑客户"><i class="fa fa-plus"></i></a>
    <a href="javascript:;" class="btn btn-xs btn-danger btn-delone"><i class="fa fa-trash"></i></a>
</script>

