<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Model_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-reckon_id" data-rule="required" data-source="model/modelx/index" class="form-control selectpage" name="row[reckon_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-description" class="form-control" name="row[description]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mold')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[mold]', $molddata, null, ['class'=>'form-control', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Inflow_model')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-inflow_model" data-source="model/modelx/index" class="form-control selectpage"  name="row[inflow_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Inflow_model_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-inflow_model_id" data-source="cheque/index" class="form-control selectpage inflow-model-id" name="row[inflow_cheque_id]" type="text" value="">

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Related_model')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-related_model" data-source="model/modelx/index" class="form-control selectpage" name="row[related_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group layer-footer">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-3">
                <button type="submit" class="btn btn-success" style="width: 100%">{:__('OK')}</button>
            </div>
        </div>

    </div>
</form>
