
<footer class="zyw-footer">
    <div class="zyw-container white-bgcolor clearfix">
        <div class="weui-tabbar">
            <a href="/" class="weui-tabbar__item {eq name='config.controllername' value='index'}weui-bar__item--on{/eq}">
                <div class="weui-tabbar__icon">
                    <img src="__CDN__/assets/img/tel.png" alt="">
                </div>
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="/archives/index/id/43" class="weui-tabbar__item {eq name='config.controllername' value='archives'}weui-bar__item--on{/eq}">
                <div class="weui-tabbar__icon">
                    <img src="__CDN__/assets/img/promotion.png" alt="">
                </div>
                <p class="weui-tabbar__label">服务</p>
            </a>
            <a href="/principal/index" class="weui-tabbar__item {eq name='config.controllername' value='principal'}weui-bar__item--on{/eq}">
                <div class="weui-tabbar__icon">
                    <img src="__CDN__/assets/img/customer.png" alt="">
                </div>
                <p class="weui-tabbar__label">主体</p>
            </a>
            <a href="/user/index" class="weui-tabbar__item {eq name='config.controllername' value='user'}weui-bar__item--on{/eq}">
                <div class="weui-tabbar__icon">
                    <img src="__CDN__/assets/img/user.png" alt="">
                </div>
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
    </div>
</footer>