{__NOLAYOUT__}
<form class="form-horizontal" role="form" data-toggle="validator" method="POST" action="copyright/code/ids/{$row['id']}" >
    <input type="hidden" name="row[id]" value="{$row.id}"/>
    <div class="box-header with-border">
    </div>
    <div class="box-body no-padding">
        <div class="mailbox-controls">
            <div class="btn-group">
                <div>
                    <button type="submit" class="btn btn-success btn-sm" data-toggle="tooltip" data-container="body" title="{:__('Submit')}">
                        <i class="fa fa-check"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" ng-click="generate();" data-container="body" title="生成代码">
                        <i class="fa fa-code"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="mailbox-messages" id="data-edit-view">
            <div class="form-group ng-scope">
                <div class="col-xs-12 col-sm-12">
                    <textarea name="row[code]" class="form-control" rows="20" ng-model="row.code" value=""></textarea>
                </div>
            </div>
        </div>
    </div>
</form>
