{__NOLAYOUT__}
<link rel="stylesheet" href="__CDN__/assets/libs/fullcalendar/dist/fullcalendar.css">
<style>
    .agenda-option[data-agenda='morning'],.agenda-table-event.morning ul span{
        color: white;
    }
    .agenda-option[data-agenda='afternoon'],.agenda-table-event.afternoon ul span{
        color: white;
    }
    .agenda-option[data-agenda='allday'],.agenda-table-event.allday ul span{
        color: white;
    }
</style>
<section class="">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body no-padding">
                    <div id="calendar"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>