{__NOLAYOUT__}
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div class="widget-body no-padding  table-cosmetic">
            <div id="toolbar-lesson" class="toolbar">
                {:build_toolbar('refresh,add',['add'=>[url('lessons/add',['staff_model_id'=>$row['id']]), 'btn btn-success btn-dialog', 'fa fa-plus',  __(''), __('添加')]])}
            </div>
            <table id="table" class="table table-striped table-bordered table-hover" width="100%">
            </table>
        </div>
    </div>
</div>