
<form class="form-horizontal" role="form" data-toggle="validator" method="POST" action="" ng-controller="edit" >
    <input type="hidden" value="{:input('param.customer_id')}" name="customer_id" />
    <input type="hidden" value="persion" name="row[substance_type]" />
    <input type="hidden" value="1" name="row[principalclass_model_id]" />
    <div class="panel panel-default panel-intro">
        <div class="panel-body">
            {include file="common/add" /}
        </div>

    </div>

</form>