{__NOLAYOUT__}

<div class="panel panel-default panel-intro">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div class="row">

            <div class="col-xs-12" id="data-view">
                <div id="toolbar-distribute" class="toolbar">
                    {:build_toolbar(['refresh'],[],'distribute')}
                </div>
                <table id="table-distribute"
                       class="table table-striped table-bordered table-hover  text-nowrap" width="100%">
                </table>
            </div>
        </div>
    </div>
</div>