<!DOCTYPE html>
{__NOLAYOUT__}
<html lang="en">
    <head>
        {include file="common/meta" /}
    </head>
    <body>
        <div class="container">
            <div class="row">
                {volist name="rows" id='row'}
                {if $row->handbookfile}
                <p>
                    <a href="{$row->handbookfile}" download="{$row->name}">{$row->name}</a>
                </p>
                {/if}
                {/volist}
            </div>
        </div>
    </body>
</html>