<div class="row animated fadeInRight" >
    <div class="col-md-12">
        <div class="box box-success">
            <div class="panel panel-default panel-intro">
                <div class="panel-body">
                    <div class="tab-pane fade in">
                        <div class="box-header with-border">
                        </div>
                        <div class="box-body no-padding">
                            <div class="mailbox-messages">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <td width="10%">标题</td>
                                        <td>
                                               {$row.title}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="10%">内容</td>
                                        <td>
                                                {$row.content}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>