<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null,FALSE)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#all" data-toggle="tab">{:__('All')}</a></li>
            {foreach name="typeList" item="vo"}
            <li><a href="#{$key}" data-toggle="tab">{$vo}</a></li>
            {/foreach}
        </ul>

    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding table-hover">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                        <a href="unsafe:javascript:;" class="btn btn-success btn-add {:$auth->checka('group/add?model_type='.$config.modelType)?'':'hide'}" title="添加"><i class="fa fa-plus"></i> 添加</a>
                        <a href="unsafe:javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->checka('group/del?model_type='.$config.modelType)?'':'hide'}" title="删除"><i class="fa fa-trash"></i> 删除</a>

                    </div>
                    <table id="table" class="table table-striped table-bordered"
                           data-operate-edit="{:$auth->checka('group/edit?model_type='.$config.modelType)}"
                           data-operate-del="{:$auth->checka('group/del?model_type='.$config.modelType)}"
                           data-operate-rule="{:$auth->checka('group/rule?model_type='.$config.modelType)}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>