<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="model_type" value="{$Request.param.model_type}"/>
    <input type="hidden" name="model_id" value="{$Request.param.model_id}"/>
    <div class="form-group">
        <label for="c-title" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::selectpage('group_model_id','','group/index','title')}
        </div>
    </div>

    <div class="form-group layer-footer">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-3">
                <button type="submit" class="btn btn-success" style="width: 100%">{:__('OK')}</button>
            </div>
        </div>

    </div>
</form>
