@import url("../libs/bootstrap/dist/css/bootstrap.min.css");
@import url("../css/fastadmin.css");
@import url("../css/iconfont.css");
@import url("../libs/font-awesome/css/font-awesome.min.css");
@import url("../libs/toastr/toastr.min.css");
@import url("../libs/fastadmin-layer/dist/theme/default/layer.css");
@import url("../libs/bootstrap-table/dist/bootstrap-table.min.css");
@import url("../libs/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css");
@import url("../libs/bootstrap-daterangepicker/daterangepicker.css");
@import url("../libs/nice-validator/dist/jquery.validator.css");
@import url("../libs/bootstrap-select/dist/css/bootstrap-select.min.css");
@import url("../libs/fastadmin-selectpage/selectpage.css");
@import url("../libs/bootstrap-slider/slider.css");
@import url("../libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css");
@import url("../libs/cascader/css/cascader.css");
@import url("../libs/jquery-jsoneditor/jsoneditor.css");
@import url("../libs/jquery-treegrid/css/jquery.treegrid.css");
@import url("../libs/bootstrap-directional-buttons/bootstrap-directional-buttons.css");

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

body.is-dialog .top-nav-header {
    display: none;
}

body.is-dialog {
    padding-top: 10px;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

.navbar-brand  {
    color: white !important;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


.grid-item { width: 345px; }

.card {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.card {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
}

.card-header {
    margin-bottom: 0;
    background-color: transparent;
    padding: 1.75rem 1.25rem;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-title {
    float: left;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    text-overflow: ellipsis;
    width: 220px;
    overflow: hidden;
}

.card-header>.card-tools {
    float: right;
    margin-right: -0.625rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 0 solid rgba(0,0,0,.125);
}

.card-body table td {
    width: 100px;
}


.layui-layer-fast .layui-layer-footer {
    padding: 8px 20px;
    background-color: #ecf0f1;
    height: auto;
    text-align: inherit !important;
}
.is-dialog #main {
    background: #fff;
}
.is-dialog .layer-footer {
    display: none;
}