<!DOCTYPE html>
{__NOLAYOUT__}
<html lang="zh-cn">
<head>
    {include file="common/meta" /}
    <link href="__CDN__/assets/css/customer/principal.css?v={$site.version}" rel="stylesheet">
    <style type="text/css">
        .weui-label {
            width: 135px;
            font-size: 14px;

        }
    </style>

</head>
<body ontouchstart>
<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed b-line">
        <a href="javascript:void(0);" onclick="window.history.go(-1)" target="_self" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <a href="/" target="_self"><span class="aui-center-title">发明专利</span></a>
        </div>
    </header>
    <section class="aui-scrollView" style="    margin-bottom: 50px;">
        <div class="aui-tab" data-ydui-tab>
            <form id="form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                <input type="hidden" name="ids" value="{$Request.param.ids}"/>
                <input type="hidden" name="row[principal_model_id]" value="{$principal.id}"/>
                <input type="hidden" name="row[branch_model_id]" value="0"/>
                <input type="hidden" name="row[patentclass_cascader_id]" value="0"/>

                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell ">
                        <div class="weui-cell__hd"><label for="name" class="weui-label">专利名称</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="name" data-rule="required;"  data-msg="专利名称不可以为空" name="row[name]" value="{$row['name']|default=''}" placeholder="请输入专利名称">
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label for="申请人" class="weui-label">申请人</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" id="申请人" name="row[proposer]" data-msg="申请人不可以为空" data-rule="required;"  type="text" value="{$row['proposer']|default=''}" placeholder="请输入申请人">
                        </div>
                    </div>
                    <div class="weui-cell ">
                        <div class="weui-cell__hd"><label for="penster" class="weui-label">发明人</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="penster"  data-rule="required;"  data-msg-required="发明人不可以为空"  name="row[penster]" value="{$row['penster']|default=''}" placeholder="请输入发明人">
                        </div>
                    </div>
                    <div class="weui-cell ">
                        <div class="weui-cell__hd"><label for="contact" class="weui-label">技术联系人</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="contact" data-rule="required;" data-msg-required="技术联系人不可以为空"   name="row[contact]" value="{$row['contact']|default=''}" placeholder="请输入技术联系人">
                        </div>
                    </div>
                    <div class="weui-cell ">
                        <div class="weui-cell__hd"><label for="telephone" class="weui-label">联系人电话</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="telephone" data-rule="required;telephone" data-msg-required="联系人电话不可以为空"   name="row[telephone]" value="{$row['telephone']|default=''}" placeholder="请输入联系人电话">
                        </div>
                    </div>

                    <div class="weui-cell ">
                        <div class="weui-cell__hd"><label for="Email" class="weui-label">联系邮箱</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="Email" data-rule="email"  name="row[Email]" value="{$row['Email']|default=''}" placeholder="联系邮箱">
                        </div>
                    </div>
                    <div class="weui-cell ">
                        <div class="weui-cell__hd"><label for="keywords" class="weui-label">关键词</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="keywords"  name="row[keywords]" value="{$row['keywords']|default=''}" placeholder="关键词">
                        </div>
                    </div>
                    <div class="weui-form__control-area">
                        <div class="weui-cells__group weui-cells__group_form">
                            <div class="weui-cells__title">背景技术</div>
                            <div class="weui-cells weui-cells_form">
                                <div class="weui-cell ">
                                    <div class="weui-cell__bd">
                                        <textarea class="weui-textarea" placeholder="本发明所属技术领域的产品或技术的发展现状、发展趋势，存在的主要问题和技术、市场需求等" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-form__control-area">
                        <div class="weui-cells__group weui-cells__group_form">
                            <div class="weui-cells__title">现有技术方案</div>
                            <div class="weui-cells weui-cells_form">
                                <div class="weui-cell ">
                                    <div class="weui-cell__bd">
                                        <textarea class="weui-textarea" placeholder="描述与本发明最接近或密切相关，或者作为本发明改进基础的的现有技术方案；必要时提供附图及对应的文字说明" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-form__control-area">
                        <div class="weui-cells__group weui-cells__group_form">
                            <div class="weui-cells__title">现有技术的缺陷</div>
                            <div class="weui-cells weui-cells_form">
                                <div class="weui-cell ">
                                    <div class="weui-cell__bd">
                                        <textarea class="weui-textarea" placeholder="现有技术方案具有哪些缺陷？这些缺陷应该是客观的技术性缺陷，与本发明能够解决的技术问题、所达到的技术效果及发明目的相对应，例如功能缺失、成本高、效率低或耗时长等" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-form__control-area">
                        <div class="weui-cells__group weui-cells__group_form">
                            <div class="weui-cells__title">本发明要解决的技术问题及发明目的</div>
                            <div class="weui-cells weui-cells_form">
                                <div class="weui-cell ">
                                    <div class="weui-cell__bd">
                                        <textarea class="weui-textarea" placeholder="本发明要解决的技术问题是什么？这些技术问题通常对应于现有技术的缺陷，解决这些技术问题即构成本发明的目的，下文中提供的本发明技术方案都是为了解决这些技术问题" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-form__control-area">
                        <div class="weui-cells__group weui-cells__group_form">
                            <div class="weui-cells__title">本发明的技术方案的详细阐述</div>
                            <div class="weui-cells weui-cells_form">
                                <div class="weui-cell ">
                                    <div class="weui-cell__bd">
                                        <textarea class="weui-textarea" placeholder="本发明为解决上述技术问题采用了什么技术方案？请提供多个附图，基于每幅附图详细介绍本发明的技术方案" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-form__control-area">
                        <div class="weui-cells__group weui-cells__group_form">
                            <div class="weui-cells__title">本发明的发明点和保护点</div>
                            <div class="weui-cells weui-cells_form">
                                <div class="weui-cell ">
                                    <div class="weui-cell__bd">
                                        <textarea class="weui-textarea" placeholder="本发明相对于现有技术的改进或创新点，详细阐述该创新点的技术细节及相应的技术效果。" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="weui-form__control-area">
                        <div class="weui-cells__group weui-cells__group_form">
                            <div class="weui-cells__title">与最接近的现有技术相比，本发明有何技术优点</div>
                            <div class="weui-cells weui-cells_form">
                                <div class="weui-cell ">
                                    <div class="weui-cell__bd">
                                        <textarea class="weui-textarea" placeholder="本发明技术方案具有的技术性优点或效果。这些优点或效果应该是基于本发明的技术方案直接导致，具有因果关系，并且与现有技术方案的缺陷相对应，并至少能够解决这些缺陷" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-form__control-area">
                        <div class="weui-cells__group weui-cells__group_form">
                            <div class="weui-cells__title">有关本发明的其他技术资料</div>
                            <div class="weui-cells weui-cells_form">
                                <div class="weui-cell ">
                                    <div class="weui-cell__bd">
                                        <textarea class="weui-textarea" placeholder="本发明是否还有其他替代方案同样能实现本发明的目的，或者更优方案能实现更好的技术效果" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-form__control-area">
                        <div class="weui-cells__group weui-cells__group_form">
                            <div class="weui-cells__title">备注</div>
                            <div class="weui-cells weui-cells_form">
                                <div class="weui-cell ">
                                    <div class="weui-cell__bd">
                                        <textarea class="weui-textarea" placeholder="发明人应尽量给出清楚、完整、逻辑结构清晰的技术交底材料，尽量避免出现技术要点的遗漏或错误。如果属于商业秘密不能公开的材料，请主动说明" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-btn-area">
                        <button class="weui-btn weui-btn_primary" type="submit" id="showTooltips">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
{include file="common/script" /}

</body>
</html>
