{__NOLAYOUT__}
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div class="widget-body no-padding  table-cosmetic">
            <div id="toolbar-actualize" class="toolbar">
                {:build_toolbar('refresh,del')}
                <div class="btn-group" role="group">
                    <a href="{:url('actualize/add',['principal_model_id'=>$row['id']])}" class="btn btn-default btn-dialog" title="添加岗位"><i class="fa fa-plus"></i> </a>
                </div>

            </div>
            <table id="table-actualize"  ui-formidable="fields"
                   data-fields='fields'
                   data-url="actualize/index"
                   data-search-fields="fields"
                   data-toolbar="toolbar-actualize"
                   data-query-params="searchFieldsParams"
                   data-buttons="tableExtendButtons"
                   data-search-button-hide-group="true"
                   data-operate-view="{:$auth->check('actualize/view')}"
                   data-operate-del="{:$auth->check('actualize/del')}"
                   class="table table-striped table-bordered table-hover  text-nowrap" width="100%">
            </table>
        </div>
    </div>
</div>