{__NOLAYOUT__}

<div class="panel panel-default panel-intro">
    <div class="widget-body no-padding">
        <div class="row">
            <div class="col-xs-12">
                <ui-echarts data-url="account/graph/action/flow/type/increased" data-type="line" data-title="账目"></ui-echarts>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ui-echarts data-url="account/graph/action/flow/type/amount" data-type="line"  data-title="金额"></ui-echarts>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ui-echarts data-url="account/graph/action/flow/type/classamount" data-type="pie"  data-title="金额"></ui-echarts>
            </div>
        </div>
    </div>
</div>
