{__NOLAYOUT__}
<div class="panel panel-default panel-intro">
    <div class="panel-body">
        <div class="widget-body no-padding  table-cosmetic">
            <div class="row" style="padding: 1.5em 0;">
                {volist name="plans" id="plan"}

                {if condition="($plan.status == 'light')"}
                <button type="button" style="margin-top: 10px;" class="btn btn-primary btn-arrow-right">{$plan.name}</button>
                {else /}
                <button type="button" style="margin-top: 10px;" class="btn btn-default btn-arrow-right">{$plan.name}</button>
                {/if}
                {/volist}

            </div>

        </div>
    </div>
</div>