<button type="button" style="margin-top: 10px;" class="btn btn-default btn-arrow-right">Info</button>
<button type="button" style="margin-top: 10px;" class="btn btn-primary btn-arrow-right">Warning</button>
<button type="button" style="margin-top: 10px;" class="btn btn-success btn-arrow-right">Danger</button>
<button type="button" style="margin-top: 10px;" class="btn btn-default btn-arrow-right">Info</button>
<button type="button" style="margin-top: 10px;" class="btn btn-primary btn-arrow-right">Warning</button>
<button type="button" style="margin-top: 10px;" class="btn btn-success btn-arrow-right">Danger</button>
<button type="button" style="margin-top: 10px;" class="btn btn-default btn-arrow-right">Info</button>
<button type="button" style="margin-top: 10px;" class="btn btn-primary btn-arrow-right">Warning</button>
<button type="button" style="margin-top: 10px;" class="btn btn-success btn-arrow-right">Danger</button>
<button type="button" style="margin-top: 10px;" class="btn btn-default btn-arrow-right">Info</button>
<button type="button" style="margin-top: 10px;" class="btn btn-primary btn-arrow-right">Warning</button>
<button type="button" style="margin-top: 10px;" class="btn btn-success btn-arrow-right">Danger</button>
<button type="button" style="margin-top: 10px;" class="btn btn-default btn-arrow-right">Info</button>
<button type="button" style="margin-top: 10px;" class="btn btn-primary btn-arrow-right">Warning</button>
<button type="button" style="margin-top: 10px;" class="btn btn-success btn-arrow-right">Danger</button>
<button type="button" style="margin-top: 10px;" class="btn btn-default btn-arrow-right">Info</button>
<button type="button" style="margin-top: 10px;" class="btn btn-primary btn-arrow-right">Warning</button>
<button type="button" style="margin-top: 10px;" class="btn btn-success btn-arrow-right">Danger</button>
<button type="button" style="margin-top: 10px;" class="btn btn-default btn-arrow-right">Info</button>
<button type="button" style="margin-top: 10px;" class="btn btn-primary btn-arrow-right">Warning</button>
<button type="button" style="margin-top: 10px;" class="btn btn-success btn-arrow-right">Danger</button>
<button type="button" style="margin-top: 10px;" class="btn btn-success btn-arrow-right">Danger</button>
<button type="button" style="margin-top: 10px;" class="btn btn-default btn-arrow-right">Info</button>
<button type="button" style="margin-top: 10px;" class="btn btn-primary btn-arrow-right">Warning</button>
<button type="button" style="margin-top: 10px;" class="btn btn-success btn-arrow-right">Danger</button>
<button type="button" style="margin-top: 10px;" class="btn btn-default btn-arrow-right">Info</button>
<button type="button" style="margin-top: 10px;" class="btn btn-primary btn-arrow-right">Warning</button>
<button type="button" style="margin-top: 10px;" class="btn btn-success btn-arrow-right">Danger</button>
<button type="button" style="margin-top: 10px;" class="btn btn-default btn-arrow-right">Info</button>
<button type="button" style="margin-top: 10px;" class="btn btn-primary btn-arrow-right">Warning</button>
<button type="button" style="margin-top: 10px;" class="btn btn-success btn-arrow-right">Danger</button>
<button type="button" style="margin-top: 10px;" class="btn btn-default btn-arrow-right">Info</button>
<button type="button" style="margin-top: 10px;" class="btn btn-primary btn-arrow-right">Warning</button>
<button type="button" style="margin-top: 10px;" class="btn btn-success btn-arrow-right">Danger</button>