<!DOCTYPE html>
{__NOLAYOUT__}
<html lang="zh-cn">
<head>
    {include file="common/meta" /}
</head>
<body ontouchstart>
<section class="zyw-container">
    <div class="index-wares">
        <div class="wares-title">扫码关注我</div>
        <div class="wares-cont" style="    text-align: center;">
            <img src="{$qrcodeurl}" style="width: 200px"/>
            <div>请长按二维码图片，识别图中的二维码，关注科技管理平台官方服务号，以便进行下一步操作。</div>
        </div>
    </div>
</section>
{include file="common/script" /}
</body>
</html>
