<div class="aui-free-gray">
    <div class="aui-flex">
        <div class="aui-flex-box">
            <h2 id="shared-desc">{cms:archives name="title" /}</h2>
        </div>
        <div class="aui-free-user">
            <img src='{cms:archives name="image" /}' alt="">
        </div>
    </div>
    <div class="aui-info-icon">
                <span>
                    <i class="icon icon-opt"></i>可预约
                </span>
                <span>
                    <i class="icon icon-opt"></i>可听录播和重播
                </span>
    </div>
</div>
<div class="aui-flex">
    <div class="aui-flex-box">
        <h4><i class="icon icon-stare"></i><i class="icon icon-stare"></i><i class="icon icon-stare"></i><i class="icon icon-stare"></i></h4>
    </div>
    <div class="aui-right-time">
        <h2>39 <em>分钟</em></h2>
        <p>时长</p>
    </div>
    <div class="aui-right-time">
        <h2>374 <em>人</em></h2>
        <p>参与</p>
    </div>
</div>
<div class="divHeight"></div>
<div class="aui-flex">
    <div class="aui-flex-box">
        {cms:archives name="content" /}
    </div>
</div>
<div style="height:60px;"></div>