<header class="aui-navBar aui-navBar-fixed b-line">
    <a href="/user/persion" target="_self" class="aui-navBar-item">
        <i class="icon icon-return"></i>
    </a>
    <div class="aui-center">
        <span class="aui-center-title" >身份信息</span>
    </div>
</header>
<section class="aui-scrollView">
<form action="{:url('user/edit')}" method="post" id="form">

        <div id="errtips" class="hide" style="display: none"></div>
        <div class="weui-cells__title">修改个人信息</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" data-target="#errtips" placeholder="请输入姓名"  name="row[name]" value="{$user.genearch.name}" data-rule="姓名:required">
                </div>
            </div>
        </div>
        <div class="weui-cells__tips">底部说明文字底部说明文字</div>
        <div class="weui-btn-area">
            <button type="submit" class="weui-btn weui-btn_primary">确定</button>
        </div>
    </form>
</section>