<header class="aui-navBar aui-navBar-fixed b-line">
    <a href="/user/index" target="_self" class="aui-navBar-item">
        <i class="icon icon-return"></i>
    </a>
    <div class="aui-center">
        <span class="aui-center-title" >个人信息</span>
    </div>
</header>
<section class="aui-scrollView">
<div class="weui-cells mb-625">
    <a class="weui-cell weui-cell_access" href="{:url('user/changename')}">
        <div class="weui-cell__bd">
            <p class="choose-text"> 姓名</p>
        </div>
        <div class="weui-cell__ft choose-des">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="{:url('user/changesex')}">
        <div class="weui-cell__bd">
            <p class="choose-text"> 性别</p>
        </div>
        <div class="weui-cell__ft choose-des">
        </div>
    </a>

    <a class="weui-cell weui-cell_access"  href="{:url('user/changebirthday')}">
        <div class="weui-cell__bd">
            <p class="choose-text"> 出生日期 </p>
        </div>
        <div class="weui-cell__ft choose-des">
        </div>
    </a>
</div>
</section>